<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Janai Amitáf Produções">
    <meta name="keywords" content="Janai, artes, desenhos, escritas, ilustrações, editoração, estórias">
    <meta name="descrition" content="Janai Amitáf apresenta suas principais obras artísticas">
    <title>O Cometa De Heidi - Janai Amitáf Produções</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Fontes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JavaScript -->
    <script src="../js/nav.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <div class="menu-titulo">
            <span class="material-symbols-outlined sr-only icone" id="menu" aria-hidden="true" aria-label="Ícone de menu de navegação" tabindex="0">
                menu
            </span>

            <div class="titulo">
                <h1>Janai Amitáf Produções</h1>

                <h2>Estórias, ilustrações e editoração</h2>
            </div>
        </div>

        <nav class="nav">
            <ul>
                <a href="../../index.html" aria-label="Ver introdução sobre">
                    Sobre
                </a>

                <a href="projetos.html" aria-label="Ver quais são os projetos realizados" id="selecionada">
                    Projetos
                </a>

                <a href="produtos-servicos.html" aria-label="Ver quais são os produtos e serviços">
                    Serviços
                </a>
            </ul>
        </nav>
    </header>

    <main id="conteudo">
        <section class="cometa-heidi">
            <h1>O Cometa De Heidi</h1>

            <figure class="capa">
                <img src="../img/cometa-heidi-capa.png" alt="Capa: O Cometa De Heidi">
            </figure>

            <div class="textos">
                <p>
                    A primeira vez que avistei Heidi foi consequência de um dia muito importante em que ela não conseguiu dormir.
                </p>

                <p>
                    Pulou da cama, tomou banho, se vestiu, desceu as escadas, comeu e saiu de casa tão rápido quanto possível para um bípede.
                </p>

                <p>
                    A velha nave geracional ainda acordava enquanto ela deslizava sobre os patins que sua bisavó trouxera do planeta natal “um dia vai cair dessa sucata e quebrar o focinho” sua mãe costumava reclamar. “São relíquias” ela sempre respondia “e sou muito boa. Vou levá-los comigo quando partir.” A vida toda sonhou com o Dia da Escolha. Agradecia aos seus antepassados por não terem simplesmente imposto suas obrigações aos que viriam depois.Chegando ao pátio central, sentou-se empolgada na primeira fileira e esperou a cerimônia começar, conseguindo finalmente dormir um pouco.
                </p>

                <p>
                    - E assim, - acordou de sobressalto com o capitão já a um terço do discurso - no ano em que completa dezoito anos, todo sordae nascido na Resilient tem o direito de embarcar sozinho numa jornada por outros mundos e decidir onde ficará no universo.
                </p>

                <p>
                    “Uma nave, rápida, armamento básico. E seguir só pelo espaço profundo” pensava empolgada na fila, incapaz de esconder o sorriso. Imaginou-se voando por uma nebulosa ou fazendo manobras em um campo de asteroides.
                </p>

                <p>
                    - Torat, Heidi - voltou a realidade enquanto o capitão colocava o distintivo de permissão de embarque em sua roupa - Escolha seu destino - repetiu o que disse a todos os candidatos.
                </p>
    
                <p>
                    Ela desceu feliz do palco, mas de repente lhe ocorreu algo inédito ao pensar sobre isso. O medo percorreu sua coluna como uma cobra peçonhenta. Estava apavorada como conceito de infinito. Voltou para casa andando e evitando olhar para as grandes janelas em todo lugar por onde o cosmos adentrava.
                </p>

                <p>
                    Mas não podia desistir de algo tão importante, mesmo que precisasse tomar sorvete e choramingar para sua mãe sobre como o espaço é grande e assustador. Precisou de uma semana para se sentir pronta. A maioria demora um ano, ou nem vai.
                </p>

                <p>
                    Depois de tudo checado e das despedidas feitas, ela olhou para o painel da navezinha e para a vastidão à sua frente. O medo nunca saiu do seu lado. O coração palpitava enérgico. Respirou fundo e deu a partida.
                </p>

                <p>Agora estava por conta própria.</p>
                
                <p>
                    Vagou por aí durante meses. Conheceu mundos fantásticos e gente fascinante de diversas espécies, visitou inclusive Urnis, o planeta natal e sentiu uma mistura única de familiaridade e estranhamento. Viu oceanos, florestas e pores-do-sol pela primeira vez. Viveu alegrias e tragédias, amores e guerras. Tudo que a vida pode oferecer a um mortal. E um dia me encontrou.
                </p>
                
                <p>
                    Eu sou Cron, tenho pouco mais de 10 bilhões de anos, sou uma grande esfera roxa, reflito neste espectro a luz à minha volta e não recebo muitas visitas.
                </p>

                <p>
                    - Olá - saudei-a através do rádio da nave, depois de aprender a língua do computador, e a surpresa derrubou-a da cadeira.
                </p>
                
                <p>- Oi, quem fala? - levantou depressa checando os sensores.</p>
                
                <p>- Eu sou Cron.</p>
                
                <p>- Eu sou Heidi. Onde você está? - perguntou confusa.</p>
                
                <p>- Bem aqui.</p>
                
                <p>- Está camuflado, ou talvez sozinho à deriva? Não capto ninguém aqui.</p>
                
                <p>- Você me orbita.</p>
                
                <p>Outro susto, quase derrubou-a novamente.</p>
                
                <p>- Você é…?!	- Eu sou Cron.</p>
                
                <p>- Entendo...</p>
                
                <p>Ela aceitou bem rápido os fatos e conversamos longamente.</p>
                
                <p>Era um diálogo tão íntimo, tão verdadeiro e profundo que fiquei totalmente envolvido.</p>
                
                <p>
                    Ela tinha muitas dúvidas e hipóteses sobre destino e o tamanho do universo e pessoas de todos os tamanhos e tempos, mas só fui capaz de refletir sobre elas. Acaba que, comparado àquela mortal ainda no início de sua vida, eu era muito simples.
                </p>
                
                <p>
                    Eu nunca havia notado como era rica a vida desses seres como Heidi. Tão pequenos, tão efêmeros e imensamente complexos. Suas curtas caminhadas densamente preenchidas por momentos e emoções e ligações uns com os outros. Nascidos quase ocos podem crescer completos.
                </p>
                
                <p>
                    - Até agora eu achei que minha consciência era a capacidade do universo observar a si mesmo como ninguém mais conseguia. Mas o jeito que vocês o veem. Tanto em tão pouco tempo. Eu vi éons, Heidi. Vi estrelas nascerem e morrerem. planetas se formarem e gerarem vida. Buracos negros, pulsares, quasares, supernovas… Mas vocês podem ver uma folha caindo, um filhote nascendo, uma flor desabrochando e uma estrela sumindo no horizonte e voltando no outro dia.
                </p>
                
                <p>
                    - Cron, uma coisa não é nada sem a outra. e nós não somos tão diferentes além da escala. Nós observamos, vivemos, existimos. Somos o universo se contemplando, se vivendo e pensando sobre si mesmo em suas infinitas proporções.
                </p>
                
                <p>- Um infinito dentro do outro.</p>
                
                <p>
                    - Exatamente…- fez uma pausa inquieta - Quero te agradecer. Conhecer você foi a experiência mais enriquecedora que eu poderia ter.
                </p>
                
                <p>- Igualmente. Obrigado.</p>
                
                <p>
                    Achei que era comum mortais terem medo de seres como eu, muito tamanho, muita informação, muito tempo... Eu nunca soube se Heidi era extraordinária ou se eu estava enganado a respeito de tantos povos.
                </p>
                
                <p>
                    Depois ela partiu. Voltou para a Resilient e deu um grande abraço em sua mãe. Ela me disse que agora entendia o valor de viver em uma comunidade e da ligação entre as pessoas, mas que o espaço ainda era muito grande para não ser explorado, e que me visitaria de vez em quando.
                </p>
            </div>
        </section>

        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>
    </main>

    <footer id="rodape">
        <figure class="img">
            <img src="../img/estrelas.png" alt="Estrelas do espaço">
        </figure>
    </footer>
</body>
</html>