<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Janai Amitáf Produções">
    <meta name="keywords" content="Janai, artes, desenhos, escritas, ilustrações, editoração, estórias">
    <meta name="descrition" content="Janai Amitáf apresenta suas principais obras artísticas">
    <title>Produtos e Serviços - Janai Amitáf Produções</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Fontes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JavaScript -->
    <script src="../js/nav.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
<body>
    <header id="cabecalho">
        <div class="menu-titulo">
            <span class="material-symbols-outlined sr-only icone" id="menu" aria-hidden="true" aria-label="Ícone de menu de navegação" tabindex="0">
                menu
            </span>

            <div class="titulo">
                <h1>Janai Amitáf Produções</h1>

                <h2>Estórias, ilustrações e editoração</h2>
            </div>
        </div>

        <nav class="nav">
            <ul>
                <a href="../../index.html" aria-label="Ver introdução sobre">
                    Sobre
                </a>

                <a href="projetos.html" aria-label="Ver quais são os projetos realizados">
                    Projetos
                </a>

                <a href="produtos-servicos.html" aria-label="Ver quais são os produtos e serviços" id="selecionada">
                    Serviços
                </a>
            </ul>
        </nav>
    </header>

    <main id="conteudo">
        <section class="servicos">
            <h1>Produtos e Serviços a Oferecer</h1>

            <div class="subsecoes">
                <article class="precos">
                    <figure class="img">
                        <img src="../img/precos-de-servicos.png" alt="Preços do desenho: busto por 30 reais, meio-corpo por 40 reais e corpo inteiro por 50 reais">
                    </figure>

                    <div class="descricao">
                        <p>
                            Uma commission é um desenho que uma pessoa física encomenda a um artista para uso pessoal
                        </p>

                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_1A2bwvCD-MPEfDox7ygLS2W3tbfo7WL9oroz39gz487Q6g/viewform?pli=1" target="_blank" rel="noopener noreferrer" aria-label="Encomendar desenho via formulário">
                            Encomendar Desenho
                        </a>
                    </div>
                </article>

                <article class="condicoes">
                    <table class="tabela">
                        <thead class="titulo">
                            <tr>
                                <th>Desenharei</th>
                            </tr>
                        </thead>

                        <tbody class="dados">
                            <tr>
                                <td>Humanos</td>
                            </tr>

                            <tr>
                                <td>Animais/Pokémon e cia</td>
                            </tr>
                            
                            <tr>
                                <td>Furry</td>
                            </tr>
                            
                            <tr>
                                <td>Seres Mitológicos/Mágicos</td>
                            </tr>
                            
                            <tr>
                                <td>Aliens</td>
                            </tr>
                            
                            <tr>
                                <td>Robôs humanoides e zoomórficos</td>
                            </tr>
                            
                            <tr>
                                <td>Fanarts/OCs/Personagens de RPG</td>
                            </tr>
                            
                            <tr>
                                <td>Familiares e Pets</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="tabela">
                        <thead class="titulo">
                            <tr>
                                <th>
                                    <u>Não</u> Desenharei
                                </th>
                            </tr>
                        </thead>

                        <tbody class="dados">
                            <tr>
                                <td>Gore</td>
                            </tr>

                            <tr>
                                <td>Veículo/meccha</td>
                            </tr>
                            
                            <tr>
                                <td>Mensagens de ódio</td>
                            </tr>
                            
                            <tr>
                                <td>Personagens infantis</td>
                            </tr>
                            
                            <tr>
                                <td>Animais em situações adultas</td>
                            </tr>

                            <tr>
                                <td>Quaisquer contextos religiosos reais</td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <article class="regras">
                    <div class="descricao">
                        <p>
                            Saiba das regras necessárias e preencha o formulário para encomendar
                        </p>

                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_1A2bwvCD-MPEfDox7ygLS2W3tbfo7WL9oroz39gz487Q6g/viewform?pli=1" target="_blank" rel="noopener noreferrer" aria-label="Encomendar desenho via formulário">
                            Encomendar Desenho
                        </a>
                    </div>

                    <figure class="img">
                        <img src="../img/regras-de-servicos.png" alt="Regras do serviço: estilo de próprie artista, pagamento adiantado via PIX, discussão a cada etapa do processo, sem modificações em etapas já aprovadas, e imagens com assinatura">
                    </figure>
                </article>
            </div>
        </section>

        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>
    </main>

    <footer id="rodape">
        <figure class="img">
            <img src="../img/estrelas.png" alt="Estrelas do espaço">
        </figure>
    </footer>
</body>
</html>