<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Janai Amitáf Produções">
    <meta name="keywords" content="Janai, artes, desenhos, escritas, ilustrações, editoração, estórias">
    <meta name="descrition" content="Janai Amitáf apresenta suas principais obras artísticas">
    <title>Produtos e Serviços - Janai Amitáf Produções</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Fontes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JavaScript -->
    <script src="../js/nav.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
<body>
    <header id="cabecalho">
        <div class="menu-titulo">
            <span class="material-symbols-outlined sr-only icone" id="menu" aria-hidden="true" aria-label="Ícone de menu de navegação" tabindex="0">
                menu
            </span>

            <div class="titulo">
                <h1>Janai Amitáf Produções</h1>

                <h2>Estórias, ilustrações e editoração</h2>
            </div>
        </div>

        <nav class="nav">
            <ul>
                <a href="../../index.html" aria-label="Ver introdução sobre">
                    Sobre
                </a>

                <a href="projetos.html" aria-label="Ver quais são os projetos realizados">
                    Projetos
                </a>

                <a href="produtos-servicos.html" aria-label="Ver quais são os produtos e serviços" id="selecionada">
                    Produtos e Serviços
                </a>
            </ul>
        </nav>
    </header>

    <main id="conteudo">


        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>
    </main>

    <footer id="rodape">
        <figure class="img">
            <img src="../img/estrelas.png" alt="Estrelas do espaço">
        </figure>
    </footer>
</body>
</html>