@media screen and (max-width: 1200px) and (orientation: portrait) {
    body {
        font-size: 2vw;
    }

    #cabecalho .menu-titulo {
        padding: 2em 1.5em;
        border-radius: 0 0 4em 4em;
    }
    #cabecalho .menu-titulo .icone {
        top: 2.6vh;
        left: .4em;
        font-size: 4.2em;
    }
    #cabecalho .menu-titulo .titulo {
        margin-left: 12%;
    }
    #cabecalho .menu-titulo .titulo h1 {
        font-size: 3.2em;
    }
    #cabecalho .menu-titulo .titulo h2 {
        font-size: 2.5em;
        margin: auto 5%;
    }
    #cabecalho .modal-container .menu {
        max-width: 65vw;
    }
    #cabecalho .modal-container .menu .voltar {
        font-size: 4em;
        top: .2em;
        left: .2em;
    }
    #cabecalho .modal-container .menu .perfil .foto {
        width: 100px;
    }
    #cabecalho .modal-container .menu .perfil .nome-pronome h2,
    #cabecalho .modal-container .menu .links h2 {
        font-size: 2.5em;
    }
    #cabecalho .modal-container .menu .perfil .nome-pronome h3,
    #cabecalho .modal-container .menu .links a {
        font-size: 2em;
    }
    #cabecalho .modal-container .menu hr {
        margin: 2.5em auto;
    }
    #cabecalho .nav {
        width: 85vw;
        border-radius: 0 0 4em 4em;
    }
    #cabecalho .nav ul {
        margin: auto 4%;
    }
    #cabecalho .nav ul a {
        font-size: 2.5em;
        padding: .7em .8em;
        border-radius: 1em;
    }

    #conteudo {
        margin-bottom: 10em;
        width: 90vw;
    }
    #conteudo > section > h1 {
        font-size: 3.2em;
        margin-bottom: 5em;
    }
    #conteudo .sobre .explicacao {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    #conteudo .sobre .explicacao .descricao {
        width: 100%;
        font-size: 2.5em;
    }

    #conteudo .projetos .cards {
        gap: 5em;
    }
    #conteudo .projetos .cards .card {
        border-radius: 4em;
    }
    #conteudo .projetos .cards .card figure {
        border-radius: 4em 4em 0 0;
    }
    #conteudo .projetos .cards .card h2 {
        font-size: 2.5em;
    }

    #conteudo .servicos .subsecoes {
        gap: 10em;
    }
    #conteudo .servicos .subsecoes .precos .img img {
        border-radius: 3em 3em 0 0;
    }
    #conteudo .servicos .subsecoes .regras .img img {
        border-radius: 0 0 3em 3em;
    }
    #conteudo .servicos .subsecoes .precos,
    #conteudo .servicos .subsecoes .regras,
    #conteudo .servicos .subsecoes .condicoes {
        flex-direction: column;
        align-items: center;
        max-width: 85vw;
        margin: auto;
    }
    #conteudo .servicos .subsecoes .precos .img,
    #conteudo .servicos .subsecoes .regras .img {
        width: 100%;
        height: 100%;
    }
    #conteudo .servicos .subsecoes .precos .descricao,
    #conteudo .servicos .subsecoes .regras .descricao {
        width: fit-content;
        gap: 2em;
        padding: 2em 3em 3.5em;
    }
    #conteudo .servicos .subsecoes .precos .descricao {
        border-radius: 0 0 3em 3em;
    }
    #conteudo .servicos .subsecoes .regras .descricao {
        border-radius: 3em 3em 0 0;
    }
    #conteudo .servicos .subsecoes .precos .descricao p,
    #conteudo .servicos .subsecoes .regras .descricao p {
        font-size: 2.5em;
    }
    #conteudo .servicos .subsecoes .precos .descricao a,
    #conteudo .servicos .subsecoes .regras .descricao a {
        font-size: 2.6em;
    }
    #conteudo .servicos .subsecoes .condicoes {
        gap: 7em;
    }
    #conteudo .servicos .subsecoes .condicoes .tabela {
        border-radius: 25px;
    }
    #conteudo .servicos .subsecoes .condicoes .tabela .titulo tr th {
        font-size: 3em;
    }
    #conteudo .servicos .subsecoes .condicoes .tabela .dados tr td {
        font-size: 2.5em;
    }

    #conteudo .cards .descricao {
        font-size: 2.5em;
    }
    #conteudo .cards .cartas,
    #conteudo .commissions-pets .pets {
        gap: 7em;
    }

    #conteudo .cometa-heidi .capa,
    #conteudo .galaxia-estorias .capa {
        max-width: 70vw;
        height: auto;
        margin-bottom: 5em;
    }
    #conteudo .cometa-heidi .textos,
    #conteudo .galaxia-estorias .textos {
        width: 85vw;
    }
    #conteudo .cometa-heidi .textos p,
    #conteudo .galaxia-estorias .textos p,
    #conteudo .galaxia-estorias .textos ol {
        font-size: 2.5em;
        text-indent: 30px;
    }
    #conteudo .galaxia-estorias .textos ol li {
        margin-left: 30px;
    }

    #conteudo #topo {
        font-size: 7em;
        padding: 3%;
        right: 4%;
    }
}