/* Cabeçalho */
#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cabecalho .menu-titulo {
    background-color: var(--roxa);
    width: 100vw;
    border-radius: 0 0 2em 2em;
    padding: 1.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
#cabecalho .menu-titulo .icone {
    position: absolute;
    top: 5.5vh;
    left: .6em;
    font-size: 3em;
    border-radius: .3em;
    padding: .08em .1em;
    cursor: pointer;
    transition: .2s;
}
#cabecalho .menu-titulo .icone:hover,
#cabecalho .menu-titulo .icone:focus-visible {
    background-color: var(--rosa-neutra);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
#cabecalho .menu-titulo .icone:active {
    background-color: var(--rosa-clara);
}
#cabecalho .menu-titulo .titulo {
    display: flex;
    flex-direction: column;
    gap: .2em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}
#cabecalho .menu-titulo .titulo h1 {
    font-size: 1.8em;
    font-weight: 600;
}
#cabecalho .menu-titulo .titulo h2 {
    color: var(--cinza);
    font-size: 1.4em;
    font-weight: 500;
}
#cabecalho .modal-container {
    background-color: transparent;
    display: none;
    width: max-content;
    height: max-content;
    z-index: 2;
    border: 0;
}
#cabecalho .modal-container .transparencia {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2px);
    animation: fade .1s ease-out;
}
#cabecalho .modal-container .menu {
    position: relative;

    background: white;
    color: var(--preta);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    padding: 2.5em 2em 4em;
    max-width: 40vw;
    border-bottom-right-radius: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    animation: esquerda .4s ease-out;
}
#cabecalho .modal-container .menu .voltar {
    position: absolute;
    top: .5em;
    left: .5em;
    font-size: 2em;
    border-radius: 50%;
    padding: .3em;
    cursor: pointer;
    transition: .2s;
}
#cabecalho .modal-container .menu .voltar:hover,
#cabecalho .modal-container .menu .voltar:focus-visible {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
#cabecalho .modal-container .menu .voltar:active {
    background-color: rgba(0, 0, 0, 0.30);
}
#cabecalho .modal-container .menu .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#cabecalho .modal-container .menu .perfil .foto {
    width: 164px;
    height: auto;
}
#cabecalho .modal-container .menu .perfil .foto img {
    border-radius: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
#cabecalho .modal-container .menu .perfil .nome-pronome {
    text-align: center;
}
#cabecalho .modal-container .menu .perfil .nome-pronome h2,
#cabecalho .modal-container .menu .perfil .nome-pronome h3 {
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}
#cabecalho .modal-container .menu .perfil .nome-pronome h3 {
    color: var(--roxa);
    margin-top: .2em;
}
#cabecalho .modal-container .menu hr {
    background: var(--cinza);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    margin: 1em auto;
}
#cabecalho .modal-container .menu .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1em;
}
#cabecalho .modal-container .menu .links h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: .5em;
}
#cabecalho .modal-container .menu .links a {
    color: var(--rosa-escura);
    font-size: 1.2em;
    padding: .4em .9em;
    border-radius: 1em;
}
#cabecalho .modal-container .menu .links a:hover,
#cabecalho .modal-container .menu .links a:focus-visible {
    background-color: var(--rosa-neutra);
    color: white;
}
#cabecalho .modal-container .menu .links a:active {
    background-color: var(--rosa-clara);
}
#cabecalho .nav {
    background-color: var(--rosa-escura);
    background: linear-gradient(90deg, var(--rosa-escura) 0%, var(--rosa-neutra) 100%);
    width: 90vw;
    border-radius: 0 0 2em 2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
#cabecalho .nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto 15%;
}
#cabecalho .nav ul #selecionada {
    background: radial-gradient(78.22% 70.71% at 50% 50%, var(--rosa-neutra) 50%, var(--rosa-escura) 100%);
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}
#cabecalho .nav ul #selecionada:hover,
#cabecalho .nav ul #selecionada:focus-visible {
    background: var(--rosa-escura);
}
#cabecalho .nav ul a {
    padding: 1em 1.5em;
    border-radius: 1em;
    font-size: 1.4em;
    font-weight: 600;
}
#cabecalho .nav ul a:hover,
#cabecalho .nav ul a:focus-visible {
    background-color: var(--rosa-clara);
    color: white;
}

/* Conteúdo */
#conteudo {
    display: flex;
    justify-content: center;
    margin: 1em auto 6em;
    width: 70vw;
}
#conteudo > section > h1 {
    background: linear-gradient(90deg, var(--rosa-clara) 0%, rgba(255, 255, 255, 0.00) 100%);
    color: var(--preta);
    border-radius: 25px 0px 0px 25px;
    margin: 1em auto 1.5em;
    padding: .5em 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 1.6em;
    font-weight: 500;
}
#conteudo .sobre .explicacao {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
}
#conteudo .sobre .explicacao .descricao {
    background-color: var(--amarela);
    width: 50%;
    height: max-content;
    padding: .8em 1.4em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}
#conteudo .sobre .explicacao .descricao p {
    color: var(--preta);
    font: normal 400 24px;
    line-height: 35px;
}

#conteudo .projetos .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}
#conteudo .projetos .cards .card {
    background-color: var(--amarela);
    border: 2px solid var(--amarela);
    border-radius: 1.5em;
    width: 200px;
    height: auto;
}
#conteudo .projetos .cards .card:hover {
    background-color: var(--rosa-escura);
    border-color: var(--rosa-escura);
}
#conteudo .projetos .cards .card:active {
    background-color: var(--rosa-clara);
    border-color: var(--rosa-clara);
}
#conteudo .projetos .cards .card figure {
    border-radius: 1.5em 1.5em 0 0;
    overflow: hidden;
}
#conteudo .projetos .cards .card figure img {
    width: 200px;
    height: auto;
    background-color: white;
    margin-bottom: -10px;
}
#conteudo .projetos .cards .card:hover figure img {
    transform: scale(1.1);
}
#conteudo .projetos .cards .card h2 {
    color: var(--preta);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    padding: .5em 1em;
    transition: .2s;
}
#conteudo .projetos .cards .card:hover h2 {
    color: var(--cinza);
}

#conteudo .servicos .subsecoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}
#conteudo .servicos .subsecoes .precos,
#conteudo .servicos .subsecoes .regras,
#conteudo .servicos .subsecoes .condicoes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#conteudo .servicos .subsecoes .precos .img,
#conteudo .servicos .subsecoes .regras .img {
    width: 400px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
#conteudo .servicos .subsecoes .precos .img img {
    border-radius: 1em 0 1em 1em;
}
#conteudo .servicos .subsecoes .regras .img img {
    border-radius: 0 1em 1em;
}
#conteudo .servicos .subsecoes .precos .descricao,
#conteudo .servicos .subsecoes .regras .descricao {
    background-color: var(--amarela);
    padding: .8em 1em 1.2em;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
#conteudo .servicos .subsecoes .precos .descricao {
    border-radius: 0 1em 1em 0;
}
#conteudo .servicos .subsecoes .regras .descricao {
    border-radius: 1em 0 0 1em;
}
#conteudo .servicos .subsecoes .precos .descricao p,
#conteudo .servicos .subsecoes .regras .descricao p {
    color: var(--preta);
    line-height: 35px;
}
#conteudo .servicos .subsecoes .precos .descricao a,
#conteudo .servicos .subsecoes .regras .descricao a {
    background-color: var(--rosa-escura);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 30px;
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: capitalize;
}
#conteudo .servicos .subsecoes .precos .descricao a:hover,
#conteudo .servicos .subsecoes .regras .descricao a:hover {
    background-color: var(--rosa-neutra);
}
#conteudo .servicos .subsecoes .precos .descricao a:active,
#conteudo .servicos .subsecoes .regras .descricao a:active {
    background-color: var(--rosa-clara);
}
#conteudo .servicos .subsecoes .condicoes {
    gap: 4em;
}
#conteudo .servicos .subsecoes .condicoes .tabela {
    border-radius: 30px;
    border-collapse: collapse;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
#conteudo .servicos .subsecoes .condicoes .tabela .titulo tr th {
    background-color: var(--roxa);
    border-radius: 30px 30px 0px 0px;
    padding: 1em;
    font-size: 1.1em;
}
#conteudo .servicos .subsecoes .condicoes .tabela .dados tr td {
    color: var(--preta);
    text-align: center;
    padding: .5em 1em;
}
#conteudo .servicos .subsecoes .condicoes .tabela .dados tr:nth-child(even) {
    background-color: var(--rosa-clara);
}

#conteudo .cards .descricao {
    background-color: var(--amarela);
    color: var(--preta);
    padding: .8em 1.4em;
    border-radius: 25px;
    font: normal 400 24px;
    text-align: center;
    line-height: 35px;
    margin: auto;
    margin-bottom: 3em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}
#conteudo .cards .cartas,
#conteudo .commissions-pets .pets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
#conteudo .cards .cartas .carta img,
#conteudo .commissions-pets .pets .pet img {
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    transition: .2s;
}
#conteudo .cards .cartas .carta img:hover,
#conteudo .commissions-pets .pets .pet img:hover {
    transform: scale(1.1);
}
#conteudo .commissions-pets .pets .pet {
    width: auto;
    height: 300px;
}

#conteudo .cometa-heidi .capa,
#conteudo .galaxia-estorias .capa {
    width: fit-content;
    height: 400px;
    margin: auto;
    margin-bottom: 3em;
}
#conteudo .cometa-heidi .capa img,
#conteudo .galaxia-estorias .capa img {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
#conteudo .cometa-heidi .textos p,
#conteudo .galaxia-estorias .textos p,
#conteudo .galaxia-estorias .textos ol {
    color: var(--preta);
    text-indent: 40px;
    font: normal 400 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}
#conteudo .galaxia-estorias .textos ol li {
    margin-left: 60px;
    text-indent: 0;
}

#conteudo #topo {
    position: fixed;
    right: 2%;
    bottom: 6%;
    background-color: var(--amarela);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
    color: white;
    border-radius: 50%;
    padding: 1%;
    font-size: 2.5em;
    cursor: pointer;
    transition-duration: .4s;
    z-index: 1;
    animation: fade .5s ease;
}
#conteudo #topo:hover,
#conteudo #topo:focus-visible {
    background-color: var(--roxa);
}
#conteudo #topo:active {
    background-color: var(--cinza);
    color: var(--roxa);
}
#conteudo #topo:focus-visible {
    outline: auto;
}

/* Rodapé */
#rodape .img img {
    margin-bottom: -1vh;
}
