<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Janai Amitáf Produções">
    <meta name="keywords" content="Janai, artes, desenhos, escritas, ilustrações, editoração, estórias">
    <meta name="descrition" content="Janai Amitáf apresenta suas principais obras artísticas">
    <title>Commissions De Pets - Janai Amitáf Produções</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Fontes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JavaScript -->
    <script src="../js/nav.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <div class="menu-titulo">
            <span class="material-symbols-outlined sr-only icone" id="menu" aria-hidden="true" aria-label="Ícone de menu de navegação" tabindex="0">
                menu
            </span>

            <div class="titulo">
                <h1>Janai Amitáf Produções</h1>

                <h2>Estórias, ilustrações e editoração</h2>
            </div>
        </div>

        <dialog class="modal-container" id="modal-container">
            <div class="transparencia" id="transparencia"></div>

            <section class="menu">
                <span class="material-symbols-outlined sr-only voltar" id="voltar" aria-hidden="true" aria-label="Feche o menu clicando aqui" tabindex="0">
                    keyboard_backspace
                </span>

                <article class="perfil">
                    <figure class="foto">
                        <img src="../img/janai-amitaf.png" alt="Foto de Janai Amitáf">
                    </figure>
                    
                    <div class="nome-pronome">
                        <h2>Janai Amitáf Oliveira</h2>
                        <h3>(elu/ele)</h3>
                    </div>
                </article>

                <hr>

                <article class="links">
                    <h2>Produtos</h2>

                    <a href="https://gibizada.com.br/vendor/janaiamitaf/" target="_blank" rel="noopener noreferrer">
                        Loja
                    </a>

                    <a href="https://forms.gle/3k5i75RRhyvQtAQa9" target="_blank" rel="noopener noreferrer">
                        Commissions: Encomenda de Desenho
                    </a>
                </article>

                <hr>

                <article class="links">
                    <h2>Onde nos encontrar</h2>

                    <a href="https://fliptru.com.br/@janaiamitaf" target="_blank" rel="noopener noreferrer">
                        Quadrinhos no Fliptru
                    </a>

                    <a href="https://www.wattpad.com/user/AmitafJanai" target="_blank" rel="noopener noreferrer">
                        Contos no Wattpad
                    </a>
                </article>

                <hr>

                <article class="links">
                    <h2>Contatos</h2>

                    <a href="mailto:janaiamitaf@gmail.com">
                        janaiamitaf@gmail.com
                    </a>

                    <a href="https://www.instagram.com/janai.amitaf/" target="_blank" rel="noopener noreferrer">
                        Instagram
                    </a>

                    <a href="https://www.behance.net/janaiamitaf" target="_blank" rel="noopener noreferrer">
                        Behance
                    </a>
                </article>
            </section>
        </dialog>

        <nav class="nav">
            <ul>
                <a href="../index.html" aria-label="Ver introdução sobre">
                    Sobre
                </a>

                <a href="projetos.html" aria-label="Ver quais são os projetos realizados" id="selecionada">
                    Projetos
                </a>

                <a href="produtos-servicos.html" aria-label="Ver quais são os produtos e serviços">
                    Serviços
                </a>
            </ul>
        </nav>
    </header>

    <main id="conteudo">
        <section class="commissions-pets">
            <h1>
                <span lang="en">Commissions</span>
                De
                <span lang="en">Pets</span>
            </h1>

            <div class="pets">
                <figure class="pet">
                    <img src="../img/pet-1.png" alt="Card: Brisa Magika">
                </figure>

                <figure class="pet">
                    <img src="../img/pet-2.png" alt="Card: Cron">
                </figure>

                <figure class="pet">
                    <img src="../img/pet-3.png" alt="Card: Terra">
                </figure>

                <figure class="pet">
                    <img src="../img/pet-4.png" alt="Card: Elixir da Essência">
                </figure>

                <figure class="pet">
                    <img src="../img/pet-5.png" alt="Card: Crisalys">
                </figure>
            </div>
        </section>

        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>
    </main>

    <footer id="rodape">
        <figure class="img">
            <img src="../img/estrelas.png" alt="Estrelas do espaço">
        </figure>
    </footer>
</body>
</html>