<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Janai Amitáf Produções">
    <meta name="keywords" content="Janai, artes, desenhos, escritas, ilustrações, editoração, estórias">
    <meta name="descrition" content="Janai Amitáf apresenta suas principais obras artísticas">
    <title>Uma Estória De Galáxias - Janai Amitáf Produções</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Fontes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JavaScript -->
    <script src="../js/nav.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <div class="menu-titulo">
            <span class="material-symbols-outlined sr-only icone" id="menu" aria-hidden="true" aria-label="Ícone de menu de navegação" tabindex="0">
                menu
            </span>

            <div class="titulo">
                <h1>Janai Amitáf Produções</h1>

                <h2>Estórias, ilustrações e editoração</h2>
            </div>
        </div>

        <dialog class="modal-container" id="modal-container">
            <div class="transparencia" id="transparencia"></div>

            <section class="menu">
                <span class="material-symbols-outlined sr-only voltar" id="voltar" aria-hidden="true" aria-label="Feche o menu clicando aqui">
                    keyboard_backspace
                </span>

                <article class="perfil">
                    <figure class="foto">
                        <img src="../img/janai-amitaf.png" alt="Foto de Janai Amitáf">
                    </figure>
                    
                    <div class="nome-pronome">
                        <h2>Janai Amitáf Oliveira</h2>
                        <h3>(elu/ele)</h3>
                    </div>
                </article>

                <hr>

                <article class="links">
                    <h2>Produtos</h2>

                    <a href="https://gibizada.com.br/vendor/janaiamitaf/" target="_blank" rel="noopener noreferrer">
                        Loja
                    </a>

                    <a href="https://forms.gle/3k5i75RRhyvQtAQa9" target="_blank" rel="noopener noreferrer">
                        Commissions: Encomenda de Desenho
                    </a>
                </article>

                <hr>

                <article class="links">
                    <h2>Onde nos encontrar</h2>

                    <a href="https://janaioliveira.blogspot.com/?m=1" target="_blank" rel="noopener noreferrer">
                        Portfolio
                    </a>

                    <a href="https://fliptru.com.br/@janaiamitaf" target="_blank" rel="noopener noreferrer">
                        Quadrinhos no Fliptru
                    </a>

                    <a href="https://www.wattpad.com/user/AmitafJanai" target="_blank" rel="noopener noreferrer">
                        Contos no Wattpad
                    </a>
                </article>

                <hr>

                <article class="links">
                    <h2>Contatos</h2>

                    <a href="mailto:janaiamitaf@gmail.com">
                        janaiamitaf@gmail.com
                    </a>

                    <a href="https://www.instagram.com/janai.amitaf/" target="_blank" rel="noopener noreferrer">
                        Instagram
                    </a>

                    <a href="https://www.behance.net/janaiamitaf" target="_blank" rel="noopener noreferrer">
                        Behance
                    </a>
                </article>
            </section>
        </dialog>

        <nav class="nav">
            <ul>
                <a href="../../index.html" aria-label="Ver introdução sobre">
                    Sobre
                </a>

                <a href="projetos.html" aria-label="Ver quais são os projetos realizados" id="selecionada">
                    Projetos
                </a>

                <a href="produtos-servicos.html" aria-label="Ver quais são os produtos e serviços">
                    Serviços
                </a>
            </ul>
        </nav>
    </header>

    <main id="conteudo">
        <section class="galaxia-estorias">
            <h1>Uma Galáxia De Estórias</h1>

            <figure class="capa">
                <img src="../img/galaxia-capa.png" alt="Capa: Uma Galáxia De Estórias">
            </figure>

            <div class="textos">
                <p>
                    Via Lúmina é uma galáxia ficcional muito parecida com a nossa, na qual se passam boa parte das minhas histórias.
                </p>

                <p>
                    Ela é cheia de vida e magia com aproximadamente 0,1% dos 300 bilhões de sistemas estelares, contendo alguma forma de vida.
                </p>

                <p>
                    E estima-se que dessas sejam 3 mil espécies inteligentes, capazes de desenvolver culturas e civilizações.
                </p>
            </div>

            <figure class="capa">
                <img src="../img/radar-galactico.png" alt="Radar Galáctico" style="box-shadow: none;">
            </figure>

            <div class="textos">
                <p>
                    O mapeamento padrão é uma das poucas coisas boas impostas pelo Império do Sol, antes disso era preciso colocar os mapas de cada grande civilização um sobre o outro para chegar em algum lugar.
                    Assim a Terra, por exemplo fica em: Terra. Gama. 5.6.3
                </p>

                <ol>
                    <legend>Funciona assim:</legend>

                    <li>
                        Começando do quadrante superior esquerdo no mapa, chamado de Alpha, daí vamos em sentido horário: Beta, Gama e Delta, o inferior esquerdo.
                    </li>
                
                    <li>
                        A galáxia tem seus braços circulares marcados no mapa. Pegue seu quadrante e conte os arcos.
                    </li>
                
                    <li>
                        Os quadrantes são divididos por linhas de coordenada, formando dez seções. Precisa contá-las em sentido horário.
                    </li>
                
                    <li>
                        Dentro dessa seção, os sistemas estelares são nomeadas com o nome do planeta com mais indivíduos conscientes. Ache o sistema desejado.
                    </li>
                    <li>
                        Agora é só contar os planetas.
                    </li>
                </ol>

                <p>
                    As localizações são indicadas com: Nome do sistema, Quadrante, Arco, Seção, Número do planeta.
                </p>
            </div>
        </section>

        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>
    </main>

    <footer id="rodape">
        <figure class="img">
            <img src="../img/estrelas.png" alt="Estrelas do espaço">
        </figure>
    </footer>
</body>
</html>